html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.coverpage {
    height: 30vh;
    width: 100%;
}

.coverpage img {
    height: inherit;
    width: inherit;
}

.deleteProductBtn {
    text-align: center;
}

.deleteProductBtn a {
    color: #ff0000;
    text-decoration: none;
}

.btn-custom-editproduct {
    border-color: #d5d5d5;
}

.productImage {
    max-height: 8rem;
}

.salesNormalPrice {
    color: #ff0000;
    text-decoration: line-through;
}