@model Order;
@{
    ViewData["Title"] = "Bestelling";
    var messageType = TempData["MessageType"] as string;
    var message = TempData["Message"] as string;
    var productId = TempData["ProductId"] as int?;
}

TODO




@if (!String.IsNullOrEmpty(messageType) && !String.IsNullOrEmpty(message))
{
    @section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#messageModal').modal('show');
        });
    </script>
    }

    <div class="modal" tabindex="-1" id="messageModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    @switch (messageType)
                    {
                        case "error":
                            <h5 class="modal-title">ERROR</h5>
                            break;
                        case "success":
                            <h5 class="modal-title">Gelukt</h5>
                            break;
                        default:
                            <h5 class="modal-title">Default Title</h5>
                            break;
                    }
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@message</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}