@model ProductListViewModel

@{
    ViewData["Title"] = "Bestellen";
}

<div class="col-md-12 px-0 coverpage center">
    <img class="img-fluid" src="img/frontpage.png" />
</div>
<div class="col-md-12 d-flex">
    <div class="col-md-1 align-self-start">
        <p class="text-black fw-bold text-decoration-underline m-0">Categorieën</p>
        <ul class="p-0 m-0">
            <li>
                <a href="#" onclick="showProductsByCategory(-1)">Alles</a>
            </li>
            @if (Model.Categories != null)
            {
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a href="#" onclick="showProductsByCategory(@category.CategoryId)">@category.Name</a>
                    </li>
                }
            }
            
        </ul>
    </div>
    <div class="col-md-11 d-flex">
        <div id="shoppingcart"></div>
        <div id="product-selection" class="col-md-12 d-flex flex-row justify-content-evenly flex-wrap">
            @if (Model.Products != null)
            {
                @foreach (var product in Model.Products)
                {
                    string categories = $"";
                    @if (product.Categories != null)
                    {
                        @foreach (var category in product.Categories)
                        {
                            categories += $"categoryId-{category.CategoryId} ";
                        }
                    }

                    <div class="productContainer d-flex flex-column border border-dark border-2 rounded m-3 @categories">
                        <img class="productImage" src="~/img/products/@(product.ProductId).png" onerror="this.src='/img/products/default.png';this.onerror=null" />

                        <div class="d-flex flex-column p-1 h-100">
                            <!-- naam en prijs div -->
                            <div class="d-flex">

                                <!-- linker kolom -->
                                <div class="col-md-8">
                                    <p>@product.Name</p>
                                </div>

                                <!-- rechter kolom -->
                                <div class="col-md-4">
                                    @if (product.SalesPrice == null)
                                    {
                                        <p>€@product.Price</p>
                                    } else
                                    {
                                        <p class="salesNormalPrice p-0 m-0">€@product.Price</p>
                                        <p class="salesPrice p-0 mt-0">€@product.SalesPrice</p>
                                    }
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="d-flex justify-content-center mb-0 mt-auto">
                                <a class="btn btn-warning rounded-3" asp-controller="Orders" asp-action="CustomizeProduct">Toevoegen</a>
                            </div>
                            
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>